body {
    background-color: #F1F5F9;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

#title {
    text-align: center;
    margin-top: 4%;
}

#subtitle {
    text-align: center;
}

#calculator {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 25%;
    border-radius: 10px;
    overflow: hidden;
    font-size: 1.25em;
    margin-top: 2%;
    box-shadow: 1px 1px 25px #999;
}

#calculator td,
#calculator th {
    padding: 8px;
}

#calculator tr:nth-child(even) {
    background-color: #f2f2f2;
}

#calculator tr:hover {
    background-color: #ddd;
}

#calculator th {
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}

#calculator :not(:last-child) {
    border-bottom: 0.5px solid #ddd;
}

#center-text {
    text-align: center;
    background-color: #0C4A6E;
}

.left-align-text {
    text-align: left;
    background-color: #0284C7;
}

.button {
    align-items: center;
    appearance: button;
    background-color: #0276FF;
    border-radius: 8px;
    border-style: none;
    box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    font-family: "RM Neue", sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
    padding: 10px 21px;
    text-align: center;
    text-transform: none;
    transition: color .13s ease-in-out, background .13s ease-in-out, opacity .13s ease-in-out, box-shadow .13s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin: 0;
    position: absolute;
    top: 65%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.button:active {
    background-color: #006AE8;
}

.button:hover {
    background-color: #1C84FF;
}

.disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.scoreResult {
    text-align: center;
}

label {
    font-size: 0.8em;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#chart-title {
    text-align: center;
    text-decoration: underline;
}

#ltrs-imgs {
    padding-top: 5%;
    display: none;
}